.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.first, .second, .fifth,.third, .six{
  margin: auto;
  margin-top: 3rem;
  width: 90%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  color: brown;
  padding: 1rem 1rem; 

}
.fourth{
  
    margin: auto;
    margin-top: 3rem;
    width: 90%;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    background-color: antiquewhite;
    color: brown;
    padding: 1rem 1rem; 
  }

.second .new, .six .new{
  width: 70%;
}
.check{
  
  flex: 1;
  color: brown;
  padding: 1rem 1rem;
  font-weight: bolder;

}
.sec{
  margin-top: 5rem;
  padding: 5rem 3rem;
  flex: 1;
  
}
.sec img{
  width: 100%;
}
.MuiAppBar-colorPrimary{
  background-color: antiquewhite;
  color: brown;
}
